<template>
  <div id="menu">
    <a href="#"><img src="~assets/images/logo.png" id="logo" /></a>
    <div id="nav"></div>
    <div id="navbar" v-bind:class = "(withBG)?'themeBG':''">
      <ul>
        <li><a href='/2023/'>Home</a></li>
        <li><a href="/2023/timetable">Schedule</a></li>
        <li><a href="/2023/sponsors">Sponsors</a></li>
        <!--
        <li><a href="#">Speakers</a></li>
        <li><a href="#">Job Board</a></li>
        <li><a href='#'>Collaborators</a>
          <ul>
            <li><a href="#">Company A</a></li>
            <li><a href="#">Company B</a></li>
          </ul>
        </li>
         -->
        <li><a href='#'>About</a>
          <ul>
            <li>
              <a
                href="https://info.hkoscon.org/introduction/"
              >HKOSCon Introduction</a>
            </li>
            <li>
              <a
                href="https://info.hkoscon.org/code-of-conduct/"
              >Code Of Conduct</a>
            </li>
            <li><a href="/2023/about/organizers">Organizers</a></li>
            <!--
            <li><a href="/2023/about/volunteers">Staff</a></li>
            -->
            <li>
              <a
                href="https://info.hkoscon.org/"
              >General Information</a>
            </li>
          </ul>
        </li>
        <li><a href='#'>Archive</a>
          <ul>
            <li><a href="/2022">HKOSCon 2022</a></li>
            <li><a href="/2021">HKOSCon 2021</a></li>
            <li><a href="/2020">HKOSCon 2020</a></li>
            <li><a href="/2019">HKOSCon 2019</a></li>
            <li><a href="/2018">HKOSCon 2018</a></li>
            <li><a href="/2017">HKOSCon 2017</a></li>
            <li><a href="https://2016.opensource.hk/">HKOSCon 2016</a></li>
            <li><a href="https://2015.opensource.hk/">HKOSCon 2015</a></li>
            <li><a href="/2014">HKOSCon 2014</a></li>
            <li><a href="/2013">HKOSCon 2013</a></li>
          </ul>
        </li>
        <!-- <li class="ticket"><a href="#">
            <div class="luniz_button button1">GET TICKET</div>
          </a></li> -->
        <li class="ticket">
          <a
            href="https://hkoscon2023.eventbrite.hk/?aff=website"
          >
            <div class="luniz_button button1">Get Your Ticket</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import initNavbar from '../utils/initNavbar';

export default {
  name: 'NavBar',
  props: {
    /**
     * @type boolean
     */
    withBG: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  mounted() {
    // this.toggleNextButtonVisibility();
    // window.addEventListener('scroll', this.toggleNextButtonVisibility);
    initNavbar();
  },
  data() {
    return {
    };
  },
};
</script>
