$transition-screen-size-changes: margin 0.2s, top 0.2s, left 0.2s, transform 0.2s, max-width 0.2s, width 0.2s, height 0.2s;
$screen-max-threshold-phone: 700px;

body,
html {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 40, 56);
    position: relative;
    overflow-x: hidden;
}

.themeBG {
    background-color: rgba(24, 40, 56);
    background-image: url("~assets/images/bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

div#index {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    height: 100lvh;

    overflow-x: hidden;

    img#upper-left {
        position: fixed;
        top: 0;
        left: -2vh;
        margin-top: 100px;
        max-width: 20vw;
        width: auto;
        height: auto;

        @media only screen and (max-width: $screen-max-threshold-phone) {
            margin-top: 50px;
            max-width: 30vh;
            left: -1vh;
        }
    }

    img#lower-right {
        position: fixed;
        bottom: 0;
        right: -3vh;
        max-width: 20vw;
        width: auto;
        height: auto;

        @media only screen and (max-width: $screen-max-threshold-phone) {
            margin-top: 50px;
            max-width: 25vh;
            right: -2vh;
        }
    }

    @keyframes cat {
        from {
            opacity: 0;
            translate: 0 50px;
        }

        to {
            opacity: 1.0;
            translate: 0 0;
        }
    }


    img.cat {
        // border: 1px solid white;
        position: absolute;
        margin-top: 50px; // 100px is the height of menu
        top: calc(50%);
        left: calc(50% - 25vw + 25px); // 96vh is the max-width
        transform: translate(-50%, -50%);
        max-width: calc(50vw - 50px);
        width: auto;
        height: auto;
        transition: $transition-screen-size-changes;
        animation: cat 1s ease-in forwards 1;

        @media only screen and (max-width: $screen-max-threshold-phone) {
            margin-top: calc(50px - 25vw);
            top: 50%;
            left: 50%;
            max-width: 100vw;
            transition: $transition-screen-size-changes;
        }
    }

    img#cat-grid {
        animation: cat 1s ease-in forwards 1, cat-grid 5s both infinite ease-out 5s;

        @keyframes cat-grid {

            from,
            to {
                opacity: 1.0;
            }

            50% {
                opacity: 0.0;
            }

        }
    }

    @keyframes cat-glow-left {
        from {
            transform: translate(-50%, -50%) scale(0.8) rotate(0deg);
            opacity: 0;
        }

        66% {
            transform: translate(-50%, -50%) scale(1.0) rotate(20deg);
            opacity: 1.0;
        }

        to {
            transform: translate(-50%, -50%) scale(1.05) rotate(35deg);
            opacity: 0;
        }
    }

    @keyframes cat-glow-right {
        from {
            transform: translate(-50%, -50%) scale(0.7) rotate(0deg);
            opacity: 0;
        }

        66% {
            transform: translate(-50%, -50%) scale(0.9) rotate(10deg);
            opacity: 1.0;
        }

        to {
            transform: translate(-50%, -50%) scale(1.0) rotate(15deg);
            opacity: 0;
        }
    }

    img#cat-left-glow-big,
    img#cat-left-glow-small {
        animation: cat-glow-left 8s both infinite linear, cat 1s linear forwards 1;
    }

    img#cat-right-glow-big,
    img#cat-right-glow-small {
        margin-right: 30%;
        animation: cat-glow-right 8s both infinite linear;
    }

    img#cat-right-glow-small {
        animation-delay: 6s;
    }

    img#cat-right-glow-big {
        animation-delay: 2s;
    }

    img#cat-left-glow-small {
        animation-delay: 3s;
    }

    img#date {
        position: absolute;
        // border: 1px solid white;
        margin-top: calc(50px - 5vw); // 100px is the height of menu
        top: calc(50%);
        left: calc(50% + 25vw - 25px); // 96vh is the max-width
        transform: translate(-50%, -50%);
        max-width: calc(50vw - 50px);
        width: auto;
        height: auto;
        transition: $transition-screen-size-changes;
        animation: fade-in 1s ease-in 1s 1 both;

        @media only screen and (max-width: $screen-max-threshold-phone) {
            margin-top: calc(50px + 15vw);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: calc(80vw - 50px);
            transition: $transition-screen-size-changes;
        }


    }

    div#buttonBox {
        position: absolute;
        // border: 1px solid white;
        margin-top: calc(50px + 7vw); // 100px is the height of menu, half of it. And 7vw is ~height of img#date
        top: 50%;
        left: calc(50% + 25vw - 25px); // 96vh is the max-width
        transform: translate(-50%, -50%);
        width: calc(50vw - 50px);
        height: 10vw;
        text-align: center;
        transition: $transition-screen-size-changes;
        animation: fade-in 1s ease-in 1.5s 1 both;

        @media only screen and (max-width: $screen-max-threshold-phone) {
            margin-top: calc(50px + 30vw);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(90vw - 50px);
            transition: $transition-screen-size-changes;
        }


    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1.0;
    }

}

div {
    div#menu {
        height: 100px;
        width: 100%;
        overflow-y: visible;
        position: relative;
        // background-color: rgba(255, 255, 255, 0.1);

        div#nav {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            display: none;
            z-index: 3000;

            @media only screen and (max-width: $screen-max-threshold-phone) {
                display: inline-block;
            }
        }

        #navbar {
            z-index: 1000;
            font-size: 0;

            #menu-button {
                @media only screen and (max-width: $screen-max-threshold-phone) {
                    &::after,
                    &::before{
                        box-sizing: content-box;
                    }

                    width: 50px;
                    height: 50px;
                    display: inline-block;
                }
            }
        }

        ul {
            font-size: 0;
        }

        @media only screen and (min-width: 701px) {
            li.always-on {
                background-color: rgba(255, 255, 255, 0.2);
                box-sizing: border-box;
                margin-top: 30px;
                // margin-bottom: 20px;
                padding-bottom: 20px;
                height: 40px;
                line-height: 40px;
                border-radius: 2px;
            }

            li.always-on>a {
                margin-top: -30px;
                padding-top: 30px;
                height: 40px;
                line-height: 40px;
                margin-bottom: 60px;
            }

        }

        ul>li>a {
            height: 100px;
            line-height: 100px;
            padding-top: 0;
            padding-bottom: 0;
            // vertical-align: middle;
            white-space: nowrap !important;

            text-align: left;
        }

        ul ul li,
        ul ul li a {
            height: 60px !important;
            line-height: 60px;
            background-color: #02374c; // rgba(0, 0, 0, 0.75); // #095472
        }

        ul li:hover ul {
            margin-top: -30px;
        }

        li.ticket {
            div.luniz_button {
                width: auto;
                height: 50px;
                line-height: 50px;
                padding: 0 10px;
                font-size: 14px;
                transition: none;
            }
        }

        @media only screen and (max-width: $screen-max-threshold-phone) {
            height: 50px;

            div#menu-button {
                padding: 0;
                height: 50px;
            }

            ul li a {
                height: 60px;
                line-height: 60px;
                padding-left: 20px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                box-sizing: border-box;
                background-color: #02374c; //rgba(0, 0, 0, 0.75); #095472
            }

            ul ul li a {
                padding-left: 40px;
                box-sizing: border-box;
            }

            ul li:hover ul {
                margin-top: 0px;
            }

            li.ticket {
                div.button {
                    width: 50vw;
                }

                a {
                    text-align: center;
                }
            }

            span.submenu-button {
                &:before {
                    top: 27px;
                    right: 13px;
                }

                &:after {
                    top: 30px;
                    right: 10px;
                }
            }
        }
    }
}

div#inner {
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    text-align: center;

    div#content {
        margin: 0;
        padding: 20px 0;
        box-sizing: border-box;
        border: 0;
        width: 100%;
        display: inline-block;
        text-align: left;
        min-height: calc(100vh - 150px); // 100px menu + 50px bottom

        img {
            max-width: 700px;
            /*
            @media only screen and (max-width: $screen-max-threshold-phone) {
                max-width: calc(100% - 40px);
            }
            */
        }

        @media only screen and (max-width: $screen-max-threshold-phone) {
            padding: 20px 20px;
            min-height: calc(100vh - 100px); // 50px menu + 50px bottom
        }
    }

    div#bottom {
        background-color: #222;
        color: white;
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
    }
}

img#logo {
    width: auto;
    height: auto;
    max-width: 50px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 2000;

    @media only screen and (max-width: $screen-max-threshold-phone) {
        max-width: 30px;
    }
}

div.luniz_button {
    display: inline-block;
    width: 15vw;
    height: 4vw;
    font-size: 1.1vw;
    text-align: center;
    line-height: 4vw;
    white-space: nowrap;
    border-radius: 0.5vw;
    margin: 0.5vw;

    @media only screen and (max-width: $screen-max-threshold-phone) {
        width: calc(32vw - 5px);
        height: 7vw;
        border-radius: 1vw;
        line-height: 7vw;
        font-size: 2.5vw;
        transition: $transition-screen-size-changes;
    }

    &.button1 {
        color: white;
        background-color: transparent;
        border: 0.2vw solid white;
        transition: border 1s, color 1s, background-color 1s;

        &:hover {
            color: white;
            background-color: #F2CC15;
            border: 0.2vw solid #F2CC15;
            transition: border 1s, color 1s, background-color 1s;
        }
    }

    &.button2 {
        color: white;
        background-color: #F2CC15;
        border: 0.2vw solid #F2CC15;
        transition: border 1s, color 1s, background-color 1s;

        &:hover {
            color: #F2CC15;
            background-color: transparent;
            border: 0.2vw solid #F2CC15;
            transition: border 1s, color 1s, background-color 1s;
        }
    }
}


// Ad-Hoc
// div#buttonBox > div.button > div.button.button2 {
//     width: 20vw;
// }
